In [63]:
import psycopg2
import pandas as pd
from pandas import Series

conn = psycopg2.connect("dbname=Cameron user=Cameron host=/tmp/")
cur = conn.cursor()
columns = ['Rank', 'Player', 'Rushing_Att', 'Rushing_Yds', 'Rushing_Avg', 'Rushing_TD', 'Receiving_Rec', 'Receiving_Yds', 'Receiving_Avg', 'Receiving_TD', 'Scrimmage_Plays', 'Scrimmage_Yds', 'Scrimmage_Avg', 'Scrimmage_TD']

In [64]:
def get_search_terms(columns):
    search_terms = list([])

    print("What would you like to search for? You will be prompted for each field value in order. If you want to skip a field, simply press Enter.")

    for i in range(14):
        term = input("{}: ".format(columns[i]))
        if term == '':
            search_terms.append('9999')
        else:
            search_terms.append(term)
    return search_terms

In [71]:
def check_database(search_terms, columns):
    pass
    cur.execute("SELECT * from player_data WHERE Rank='{}' OR Player='{}' OR Rushing_Att='{}' OR Rushing_Yds='{}' OR Rushing_Avg='{}' OR Rushing_TD='{}' OR Receiving_Rec='{}' OR Receiving_Yds='{}' OR Receiving_Avg='{}' OR Receiving_TD='{}' OR Scrimmage_Plays='{}' OR Scrimmage_Yds='{}' OR Scrimmage_Avg='{}' OR Scrimmage_TD='{}'".format(search_terms[0], search_terms[1], search_terms[2], search_terms[3], search_terms[4], search_terms[5], search_terms[6], search_terms[7], search_terms[8], search_terms[9], search_terms[10], search_terms[11], search_terms[12], search_terms[13]))
    results = cur.fetchall()
    return results

In [72]:
search_terms = get_search_terms(columns)

What would you like to search for? You will be prompted for each field value in order. If you want to skip a field, simply press Enter.
Rank:
Player:
Rushing_Att:
Rushing_Yds:
Rushing_Avg:
Rushing_TD:
Receiving_Rec:
Receiving_Yds:
Receiving_Avg:
Receiving_TD: 1
Scrimmage_Plays:
Scrimmage_Yds:
Scrimmage_Avg:
Scrimmage_TD:

In [73]:
search_terms

['9999',
 '9999',
 '9999',
 '9999',
 '9999',
 '9999',
 '9999',
 '9999',
 '9999',
 '1',
 '9999',
 '9999',
 '9999',
 '9999']

In [74]:
results = check_database(search_terms, columns)[0]
results = [x for x in results]
del results[0]
results

['7', 'Tom Rathman', 26, 143, 6, 0, 2, 26, 13, 1, 28, 169, 6, 1]

In [60]:
def create_df_display(results, columns):
    print(results)
    results_df = pd.DataFrame()
    results
    return results_df

In [61]:
display_frame = create_df_display(results, columns)

['5', 'Nate Mason', 35, 222, 6, 2, 0, 0, 0, 0, 35, 222, 6, 2]

In [62]:
display_frame

                          0
Rank                      5
Player           Nate Mason
Rushing_Att              35
Rushing_Yds             222
Rushing_Avg               6
Rushing_TD                2
Receiving_Rec             0
Receiving_Yds             0
Receiving_Avg             0
Receiving_TD              0
Scrimmage_Plays          35
Scrimmage_Yds           222
Scrimmage_Avg             6
Scrimmage_TD              2

In [ ]:
display_frame = display_frame.