In [1]:
import psycopg2
import csv
import numpy as np
import pandas as pd

In [2]:
conn = psycopg2.connect("dbname=test user=Cameron host=/tmp/")
cur = conn.cursor()
cur.execute("CREATE TABLE players(id serial PRIMARY KEY, Rank varchar, Player varchar, Rushing_Att integer, Rushing_Yds integer, Rushing_Avg integer, Rushing_TD integer, Receiving_Rec integer, Receiving_Yds integer, Receiving_Avg integer, Receiving_TD integer, Scrimmage_Plays integer, Scrimmage_Yds integer, Scrimmage_Avg integer, Scrimmage_TD integer); ")
columns = ['Rank', 'Player', 'Rushing_Att', 'Rushing_Yds', 'Rushing_Avg', 'Rushing_TD', 'Receiving_Rec', 'Receiving_Yds', 'Receiving_Avg', 'Receiving_TD', 'Scrimmage_Plays', 'Scrimmage_Yds', 'Scrimmage_Avg', 'Scrimmage_TD']

In [3]:
# reader = csv.DictReader(open('stats.csv', 'r')) 
# for row in reader:
#     to_db = [col for col in row]
#     cur.execute("INSERT INTO players (Rank, Player, Rushing_Att, Rushing_Yds, Rushing_Avg, Rushing_TD, Receiving_Rec, Receiving_Yds, Receiving_Avg, Receiving_TD, Scrimmage_Plays, Scrimmage_Yds, Scrimmage_Avg, Scrimmage_TD) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);", to_db)
    
# to_db = [(i['Rank'], i['Player'], i['Rushing_Att'], i['Rushing_Yds'], i['Rushing_Avg'], i['Rushing_TD'], i['Receiving_Rec'], i['Receiving_Yds'], i['Receiving_Avg'], i['Receiving_TD'], i['Scrimmage_Plays'], i['Scrimmage_Yds'], i['Scrimmage_Avg'], i['Scrimmage_TD']) for i in dr]
# cur.executemany("INSERT INTO  (Rank, Player, Rushing_Att, Rushing_Yds, Rushing_Avg, Rushing_TD, Receiving_Rec, Receiving_Yds, Receiving_Avg, Receiving_TD, Scrimmage_Plays, Scrimmage_Yds, Scrimmage_Avg, Scrimmage_TD) VALUES (?, ?);", to_db)

In [4]:
data = pd.read_csv('stats.csv', header=1)
data.columns = columns
data.head()

,Rank,Player,Rushing_Att,Rushing_Yds,Rushing_Avg,Rushing_TD,Receiving_Rec,Receiving_Yds,Receiving_Avg,Receiving_TD,Scrimmage_Plays,Scrimmage_Yds,Scrimmage_Avg,Scrimmage_TD
0,1,Mike Rozier,275.0,2148.0,7.8,29.0,10.0,106.0,10.6,0.0,285,2254,7.9,29
1,2,Turner Gill,109.0,531.0,4.9,11.0,NaN,NaN,NaN,NaN,109,531,4.9,11
2,3,Jeff Smith,78.0,439.0,5.6,5.0,6.0,146.0,24.3,2.0,84,585,7.0,7
3,4,Mark Schellen,77.0,450.0,5.8,9.0,2.0,10.0,5.0,0.0,79,460,5.8,9
4,5,Nate Mason,35.0,222.0,6.3,2.0,NaN,NaN,NaN,NaN,35,222,6.3,2

In [5]:
# data.to_sql('players', conn)

In [6]:
for row in data.itertuples():
    cur.execute("INSERT INTO players VALUES ({}, '{}', {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {});".format(row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], row[10], row[11], row[12], row[13], row[14]))

IntegrityError: duplicate key value violates unique constraint "players_pkey"
DETAIL:  Key (id)=(1) already exists.

In [ ]:
# def create_sql(dataframe):
#     cur.execute("CREATE TABLE sportsSearch(id serial PRIMARY KEY, Rank varchar, Player varchar, Rushing Att integer, Rushing Yds integer, Rushing Avg integer, Rushing TD integer, Receiving Rec integer, Receiving Yds integer, Receiving Avg integer, Receiving TD integer, Scrimmage Plays integer, Scrimmage Yds integer, Scrimmage Avg integer, Scrimmage TD integer); ")
#     for row in dataframe:
#         cur.execute("INSERT INTO exercise (name, age) VALUES (%s, %s)", ("Cameron", 29))